<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title></title>
</head>
<body style="width: 100%; height: auto; display: flex; flex-direction: column; align-items: center;">
    <table>
        <tr>
            <th style="text-align: center;">
                <img src="https://waamirdev.000webhostapp.com/hosted-resources/logo-wesoa.png" alt="Mail icon" style="width: 26%; align-content: center;">
            </th>
        </tr>
        <tr>
            <th style="text-align: center;">
                <h2 style="text-transform: capitalize;">¡Your Password Has Been Reset!</h2>
            </th>
        </tr>
        <tr>
            <td style="text-align: center;">
                <p style="text-align: center;">We hope this email finds you well. This is a confirmation that your password for your Hotel Alura account has been successfully reset.</p> 
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <p style="text-align: center;">If you did not iniate  this password reset, please contact our support team immediately. Your account security is our priority, and we want to ensure the safety or your information.</p>    
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <p style="text-align: center;">Best regards, Hotel Sena.</p>    
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <a href="${home-url}" style="display: block; width: fit-content; padding: 5px 8px; margin: 0 auto; text-align: center; text-decoration: none; text-transform: uppercase; color: #fff; font-weight: 500; font-size: 18px; background-color: rgb(160, 87, 4); border-radius: 8px;">Visit us!</a> 
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <p style="text-align: center;">We remind you this email is only used to send information, do not reply.</p> 
            </td>
        </tr>
    </table>
</body>
</html>