<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title></title>
</head>
<body style="width: 100%; height: auto; display: flex; flex-direction: column; align-items: center;">
    <table>
        <tr>
            <th style="text-align: center;">
                <img src="https://waamirdev.000webhostapp.com/hosted-resources/logo-wesoa.png" alt="Mail icon" style="width: 26%; align-content: center;">
            </th>
        </tr>
        <tr>
            <th style="text-align: center;">
                <h2 style="text-transform: capitalize;">Confirm Your Account</h2>
            </th>
        </tr>
        <tr>
            <td style="text-align: center;">
                <p style="text-align: center;">You've received this message because your email address has been registered with our web site. Please click the button below to verify your account.</p> 
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <p style="text-align: center;">If you did not register with us, please disregard this email.</p>    
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <a href="${confirmation-url}" style="display: block; width: fit-content; padding: 5px 8px; margin: 0 auto; text-align: center; text-decoration: none; text-transform: uppercase; color: #fff; font-weight: 500; font-size: 18px; background-color: rgb(160, 87, 4); border-radius: 8px;">confirm your email</a> 
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <p style="text-align: center;">Once confirmed, this email will be uniquely associated with your account</p> 
            </td>
        </tr>
    </table>
</body>
</html>